<% if current_user %>
  <ul>
    <% @users.each do |user| %>
      <li id="<%= user.id %>">
        <%= user.name %>

          <%= render :partial => 'followships/follow', :locals => {user: user }%> 

          <%= render :partial => 'friendships/friendship', :locals => {user: user} %>
      </li>
    <% end %>
  </ul>
<% end %>
<p>
  <% current_user.all_friends.each do |friend| %>
    <%= friend.name %>
  <% end %>
</p>