<span id="friendship-<%= user.id %>">
  <% if !current_user.friend?(user) %>
    <%= link_to "Friend", friendships_path(friend_id: user), method: :post, remote: true,class: "btn btn-default" %>
  <% elsif current_user.add?(user) && !current_user.comfirm?(user) %>
    <%= link_to "Cancal",  friendship_path(user), method: :delete, remote: true, class: "btn btn-default" %> 
  <% elsif current_user.added?(user) && !user.comfirm?(current_user) %>
    <%= link_to "Comfirm?", friendship_path(user), method: :put, remote: true, class: "btn btn-default" %>
  <% else %>
    <%= link_to "Unfriend", friendship_path(user), method: :delete, remote: true, class: "btn btn-default" %>
  <% end %>
</span>