<div class="container">
  <div class="row">
    
    <ul class="nav nav-pills">
      <li class="active"><%= link_to "全部餐廳", root_path %></li>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>

    <br>
    <%= form_tag restaurants_path, method: :get do %>
      <%= text_field_tag :search %>
      <%= submit_tag "Search" %>
    <% end %>
    <br>
    <%= render(:partial => "shared/restaurant_list") %>
      
  </div>
</div>