<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    <%= link_to "Log out", destroy_user_session_path(current_user), method: :delete %>
    <%= link_to "Account", edit_user_registration_path(current_user) %>
  <% else %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Signup", new_user_registration_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
